.card-consultar-chamado{
  padding-bottom: 226px !important;
}

.card-listar-chamados{
  padding-bottom: 226px !important;
}

h2 {
   color: #445e93;
}

.footer-consultar-chamado{
  margin-top: -6%;
}
