.border-radius {
	width:400px;
	height: 280px;
	border-radius: 10%;
	overflow: hidden;
  /*background-color: #F26419;*/
  color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-top: 60px;
}

.margin-top{
  margin-top: 50px;
  text-align: center;
}

.title-card {
  color: white;
}