.cardHome{
    
    text-align: center;
    background-color: #F26419;
    color: white;
    border: white;
    font-family: 'Nanum Gothic', sans-serif;
    box-shadow: 5px 10px 8px #dddddd;
    margin-top: -70px;
}

.alignCenter{
    text-align: center;
}